@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.container{
    position: relative;
    /* width: 1191px !important; */
    width: 75%;
    /* height: 758px !important; */
    height: 40%;
    border: 1px solid rgb(250, 53, 145);
    padding: 25px;
    margin-left: 15%;
    margin-top: 2%;
}

form {
    position: relative;
    margin-left: 2%;
    font-family: Source Sans Pro;
}

input.form-control {
    width: 240.6%;
    height: 56px;
}

textarea.form-control{
    width: 155%;
    height: 361px;
    border-radius: 4px;
    overflow: -moz-hidden-unscrollable;
}

label {
    position: relative;
    margin-left: 10px;
    padding-left: 5px;
    max-width: 100%;
    width: 70px;
    border-width: 0;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 0;
    top: 13%;
    display: block;
    background-color: white;
    color:#717171;
}

.longlabel {
    position: relative;
    margin-left: 10px;
    padding-left: 4px;
    max-width: 100%;
    width: 145px;
    border-width: 0;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 0;
    display: block;
    background-color: white;
    color:#717171;
}

.longlabel1 {
    font-size: 11px;
    position: relative;
    padding-left: 10px;
    max-width: 100%;
    width: 115px;
    border-width: 0;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 0;
    display: block;
    background-color: white;
    color:#717171;
    margin-left: 10px !important;
}

h7 {
    height: 37px;
    font-size: 13px;
    text-align: left;
    color: #4D4F5C !important;
    
}

h1 {
    height: 36px;
    font: 28px;
    text-align: left;
    color: #414141;
}

.the-fieldset {
    border: 1px solid;
}

.fpos {
    width: 250px !important;
    height: 56px;
}

.fpos1 {
    margin-left: 22px;
    width: 250px !important;
    height: 56px;
}

#exampleSelect1 {
    width: 522px;
    height: 56px;
}

#inputlist::-webkit-calendar-picker-indicator {
    opacity: 100 !important;
    color: aqua !important;
}

#inputlist {
    width: 522px !important;
    height: 56px !important;   
}

button {
    position: relative;
    left: 81.7%;
    width: 185px;
    height: 50px;
    font-size: 18px !important;
    margin-top: 100px;
}

.col-auto {
    margin-right: 2%;
}